{{define "title"}}Redirecting...{{end}}

{{define "head" }}
<script src="https://js.stripe.com/v3"></script>
<script>
  (function() {
    var stripe = Stripe("{{.StripePublicKey}}");
    var params = new URLSearchParams(window.location.search);
    var id = params.get("id");
    stripe.redirectToCheckout({ sessionId: id }).then(function(result) {
      if (result.error) {
        alert(result.error.message);  // TODO
      }
    });
  })();
</script>
{{end}}

{{define "content"}}
Redirecting...
{{end}}

{{ template "base" .}}
